# Required
PROJECT_ID=your-gcp-project-id
REGION=asia-southeast1
BUCKET=your-gcp-project-id-rc-snapshots
WEBHOOK=https://discord.com/api/webhooks/xxx/yyy

# Optional scheduler settings
SCHEDULER_JOB=remote-config-poll-job
SCHEDULER_CRON=*/1 * * * *
SCHEDULER_TZ=Asia/Ho_Chi_Minh
